<!DOCTYPE html>
<html lang="ro">
    <head>

        <meta name="description"
            content="Cyberware este locul perfect de unde sa iti construiesti urmatorul calculator!">
        <meta name="keywords"
            content="calculator, componente, cyberware, despre">
        <title>Despre Noi</title>
        <%- include("../fragmente/head.ejs") %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tektur:wght@400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../resurse/css/video-despre-noi.css">
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <p>Easter Egg!</p>
            <video controls preload="metadata" style="width:80%;height:auto" poster="../resurse/video/doge.jpg">
                    <!--SOURCES-->
                    <source src="../resurse/video/freddy-freddy-fazbear.mp4" type="video/mp4">
                    <source src="../resurse/video/freddy-freddy-fazbear.ogv" type="video/ogv">
                    <!--TRACKS-->
                    <track  default src="resurse/video/tracks/captions_ro.vtt" kind="captions" srclang="ro" label="romană" />
                    <track src="resurse/video/tracks/captions_en.vtt" kind="captions" srclang="en" label="engleză" />
            </video>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>