<!DOCTYPE html>
<html lang="ro">
    <head>

        <meta name="description"
            content="Cyberware este locul perfect de unde sa iti construiesti urmatorul calculator!">
        <meta name="keywords"
            content="calculator, componente, cyberware, despre">
        <title>Despre Noi</title>
        <link rel="stylesheet" href="../resurse/css/video-despre-noi.css">
        <%- include("../fragmente/head.ejs") %>
        
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <video playsinline autoplay muted loop preload="metadata" id="bgvid">
                <source src="../resurse/video/bonus_etapa5.webm" type="video/webm">
                <source src="../resurse/video/bonus_etapa5.mp4" type="video/mp4">
            </video>
            <div id="text-animat">
                <p>Easter Egg!</p>
            </div>
            <video id ="fgvid" controls preload="metadata" style="width:80%;height:auto" poster="../resurse/video/doge.jpg">
                    <!--SOURCES-->
                    <source src="../resurse/video/freddy-freddy-fazbear.mp4" type="video/mp4">
                    <source src="../resurse/video/freddy-freddy-fazbear.ogv" type="video/ogv">
                    <!--TRACKS-->
                    <track  default src="resurse/video/tracks/captions_ro.vtt" kind="captions" srclang="ro" label="romană" />
                    <track src="resurse/video/tracks/captions_en.vtt" kind="captions" srclang="en" label="engleză" />
            </video>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>