:root {
    --padding-large: 2px;
    --padding-medium: 30px;
    --padding-small: 15px; 
    --padding-text: 20px;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
  }
  


/* HEADER */

header {
    background-color: rgb(34, 34, 34);
    color: rgb(199, 81, 77);
    padding: 20px;
    margin-left: -5px;
    margin-top: -20px;
    margin-right: -5px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(199, 81, 77);
}

header a {
    color: rgb(234, 234, 234);
}

a:hover {
    color: rgb(199, 81, 77);
}

a:active {
    color: rgb(199, 81, 77);
}

h1{
    padding-left: 25px;
    color: rgb(199, 81, 77);
}
h1 a{
    text-decoration: none;
    color: rgb(199, 81, 77);
}
nav ul {
    list-style: none;
    padding-left: 25px;;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; 
    color: rgb(234, 234, 234);
} 

nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    list-style: none;
}

nav ul li:hover > ul{
    display: block;
}

nav a{
    font-weight: bold;
}
/* BODY */

body {
    background-color: rgb(26, 26, 26);
    color: rgb(234, 234, 234);
    margin: 5px;
    overflow-x: hidden;
}

#linkuri-utile a{
    color: rgb(234, 234, 234);
}
a:hover {
    color: rgb(199, 81, 77);
}

h2{
    color: rgb(199, 81, 77);
    padding-left: 30px;
    padding-top: 10px;
}
h3{
    padding-top: 5px;
    padding-left: 60px;
    margin: 0;
}
.img{
    max-width: 50%;
}
.text{
    padding-left: 45px;
    margin-right: 20px;
    text-align: justify;
    max-width: 95%
}

.media-container #links {
    margin-left: 20px;
}
figure{
    text-align: center;
}

#linkuri-utile a{
    color: rgb(234, 234, 234);
    text-decoration: none;
}
#linkuri-utile a:hover{
    color: rgb(199, 81, 77);
}
#linkuri-utile a:active{
    color: rgb(199, 81, 77);
}
#informatii-utile details summary:hover{
    color: rgb(199, 81, 77);
  
}
#informatii-utile details{
    cursor: pointer;
    padding-left: 5px;
}

#grid{
    display: grid;
    grid-template-areas: "info linkuri";
}

#info{
    grid-area:"info";
    margin: 0 auto;
    padding: 0 20%;
}

#linkuri{
    grid-area: "linkuri";
    margin: 0 auto;
}

#ifrembed{
    border: 0px;
    margin-left: 50px;
}
#imgmap{
   margin-left: 28px;
}
#harta iframe{
    width: 99%;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(199, 81, 77);
    background-color: rgb(34, 34, 34);
    padding: 10px;
    margin-left: -5px;
    margin-bottom: -10px;
    margin-right: -5px;
    border-radius: 10px;
    box-shadow: 0px -4px 8px rgb(199, 81, 77);
}
footer address{
    margin-left: 100px;
}
footer a{
    color: rgb(199, 81, 77);
    text-decoration: none;
    text-align: center;
    font-style: normal;
}

/* @media and screen sizes */ 

@media screen and (max-width: 1024px) {
    .container {
      padding-left: var(--padding-medium);
      padding-right: var(--padding-medium);
    }
    header{
        max-width: 96%;
        margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding-left: var(--padding-small);
      padding-right: var(--padding-small);
    }
    header{
        max-width: 95%;
        margin: 0 auto;
    }
    #grid{
        display: block;
    }
  }