
.imagine {
    max-width: 38%;
}

.fa-solid .fa-image .fa-bounce{
   transform: scale(.7);
}

.text {
    padding-left: 45px;
    margin-right: 20px;
    text-align: justify;
    max-width: 95%
}

figure {
    text-align: center;
}

#linkuri-utile a {
    color: var(--culoare-gri);
    text-decoration: none;
}

#linkuri-utile a:hover {
    color: var(--culoare-rosie);
}

#linkuri-utile a:active {
    color: var(--culoare-rosie);
}

#informatii-utile details summary:hover {
    color: var(--culoare-rosie);

}

#informatii-utile details {
    cursor: pointer;
    padding-left: 5px;
}
#grid-pagina {
    display: grid;
    grid-template-areas: "prezentare prezentare prezentare"
                         "calendar-evenimente tabel anunturi"
                         "utilizatori_online  tabel  anunturi"
                         "utilizatori_online statistici site-server"
                         "diverse diverse diverse";
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: grid-template-areas 300ms ease-in-out;
}

#grid-pagina > * {
    /* outline: 1px solid white; */
    padding: 20px;
}

#prezentare{
    grid-area: prezentare;
}

#tabel{
    grid-area: tabel;
}

#calendar_evenimente{
    grid-area: calendar;
}
#anunturi{
    grid-area: anunturi;
}
#utilizatori_online{
    grid-area: utilizatori_online;
}
#statistici{
    grid-area: statistici;
}
#site-server{
    grid-area: site-server;
}
#diverse{
    grid-area: diverse;
}

#linkuri {
    margin: 0 auto;
    padding-left: 5rem;
}

#taburi-iframe > a{
    display: flex;
    width: 100px;
    height: 40px;
    border: 3px solid var(--culoare-gri);
    background-color: rgba(199, 81, 77, .7);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 3px;
}

#taburi-iframe > a:hover{
    background-color: var(--culoare-neagra);
    color: var(--culoare-rosie);
}

.container-iframe{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;  
    min-width: 50%;
    /* align-self: center; */
}

.container-iframe iframe{
    border: 5px solid var(--culoare-gri);
    margin: 0;
}

#pdfembed{
    border: 0;
    margin-left: 1em;
    max-width: 80%;
}

.imgmap {
    margin-left: 28px;
}

#harta iframe {
    width: 99%;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}
/*DUOTONE*/
#div-duotone > h2{
    margin-top: 15px;

}
#duotone{
    position: relative;
    display: inline-block;
    background-image: url("../imagini/liam-briese-lYxQ5F9xBDM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 267px;
    margin-left: 50px;
    margin-top: 5px;
    overflow: hidden;
    transition: all 2s ease;
}

#duotone::before,
#duotone::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#duotone::before {
    background-color: var(--culoare-gri); 
    mix-blend-mode: darken;
}

#duotone::after {
    background-color: var(--culoare-rosie);
    mix-blend-mode: lighten;
}

#duotone:hover {
    filter: grayscale(100%); 
}

#stilizare-hr{
    margin-top: 10px;
    height: 50px;
    overflow:hidden;
    box-sizing: border-box;
    clip-path: inset(32px 0 0 0);
    /* border: 1px solid white; */
}

.styled-hr {
    margin: 39px auto;
    overflow: visible;
    height: 10px;
    border: 4px double var(--culoare-rosie);
    border-radius: 50px;
}

.styled-hr:before {
    margin-left: -3px;
    display: block;
    content: "";
    height: 10px;
    margin-top: -18px;
    border: 4px double var(--culoare-rosie);
    border-radius: 50px;
    width: 100%;
}

