main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.5rem 0.1rem var(--culoare-rosie);
    overflow: hidden;
}

.grid-produse .produs h3{
    background-color: var(--culoare-rosie);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:color(var(--culoare-gri));
    text-decoration: none;
    transition: color 0.5s ease;
}
.grid-produse .produs h3 a:hover{
    color:var(--culoare-neagra);
}
.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border:1px solid grey
}
.grid-produse .produs .info-prod{
    display:flex;
    background-color: rgba(218, 15, 15, 0.2);
    overflow: hidden;
    /* height: 500px; */
    /* border: 1px solid white; */
}
.grid-produse .produs .info-prod p{
    /* text-align:center; */
    margin: 0 auto;
    font-weight:bold;
}
.grid-produse .produs .info-prod ul{
    list-style-type:circle;
    margin-left: 2rem;
}
.grid-produse .produs p.categorie{
    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--cl-marcare);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.produs{
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    background-color: var(--culoare-mov);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--cl-marcare);
    
    border:1px solid  var(--culoare-mov);
}

.selectat{
    color:green;
    background-color: yellow;
    font-weight: bold;
}

/*Modificari cerinte individuale*/
.grid-produse .produs .desc_imag{
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
}
.grid-produse .produs .desc_imag p{
    width: 50%;
    text-align: center;
}