<footer>
    <a href="#" title="Back to top" id="link-top"> <div
            id="triunghi"></div></a>

    <address><a href="tel:+40773123456">Telefon |</a>
        <a href="https://maps.app.goo.gl/DYrM7jYDZ68DDsgH9"
            target="_blank">Bulevardul Regina Elisabeta |</a>
        <a href="mailto:itc@cti.ro">Lasa-ne un email! |</a>
        <a aria-label="Chat on WhatsApp"
            href="https://wa.me/773123456">
            Lasa-ne un mesaj pe WhatsApp!
        </a></address>
    <p><small>Copyright &copy; <time
                datetime="2025-03-01">2025</time>
            Diaconescu Octavian</small></p>
    <p id="absolut"></p>
    <div id="container-comparare" style="display:none; position:fixed; bottom:10px; right:10px; background:#fff; border:1px solid #ccc; padding:10px; z-index:1000;">
        <p>Comparare:</p>
        <ul id="lista-comparare"></ul>
    </div>
</footer>