<header>
    <h1>
        <a href="/">CyberWare</a>
    </h1>
    <div id="hamburger">
    <span id="hamburger-fa" class="fa-solid fa-bars" style="color: #c7514c;"></span>
    <nav>
        <ul>
            <li class="buton-meniu home">
                <span id="buton-acasa" class="fa-solid fa-house fa-sm" style="color: #c7514c;"></span>
                <a id="anchor-acasa" href="/">Acasa</a>
            </li>
            <li class="buton-meniu">
                <a href="despre">Despre noi</a>
                <ul>
                    <li class="buton-submeniu">
                        <a href="#subs1">Subsectiune 1</a>
                    </li>
                    <li class="buton-submeniu">
                        <a href="#subs3">Subsectiune 3</a>
                    </li>
                    <li class="buton-submeniu">
                        <a href="#subs4">Subsectiune 4</a>
                    </li>
                </ul>
            </li>
            <li class="buton-meniu">
                <a href="pagina_galerie">Galerie</a>
                <ul>
                    <li class="buton-submeniu">
                        <a href="#galerie-animata">Galerie Dinamica</a>
                    </li>
                </ul>
            </li>
            <li class="buton-meniu">
                    <a href="#img">Imagine</a>
            </li>
            <li class="buton-meniu">
                <a href="#informatii-utile">Informatii utile</a>
            </li>
            <li class="buton-meniu">
                    <a href="#linkuri-utile">Linkuri utile</a>
            </li>
        </ul>
        </nav>
    </div>
    </header>