<header>
    <h1>
        <a href="/">CyberWare</a>
    </h1>
    <div id="hamburger">
    <span id="hamburger-fa" class="fa-solid fa-bars" style="color: #c7514c;"></span>
    <nav style="margin-top: 20px;">
        <ul>
            <li class="buton-meniu home">
                <span id="buton-acasa" class="fa-solid fa-house fa-sm" style="color: #c7514c;"></span>
                <a id="anchor-acasa" href="/">Acasa</a>
                <ul>
                    <li class="buton-submeniu">
                        <a href="/#img">Imagine</a>
                    </li>
                    <li class="buton-submeniu">
                        <a href="/#informatii-utile">Informatii utile</a>
                    </li>
                    <li class="buton-submeniu">
                        <a href="/#linkuri-utile">Linkuri utile</a>
                    </li>
                </ul>
            </li>
            <li class="buton-meniu">
                <a href="/despre">Despre noi</a>
            </li>
            <li class="buton-meniu">
                <a href="/pagina_galerie">Galerie</a>
                <ul>
                    <li class="buton-submeniu">
                        <a href="#galerie-animata">Galerie Dinamica</a>
                    </li>
                </ul>
            </li>
            <li class="buton-meniu">
                    <a href="/produse">Produse</a>
                    <ul>
                    <li class="buton-submeniu"><a href="/produse">Toate</a></li>
                    <% for (let opt of locals.optiuniMeniu) { %>
                        <li class="buton-submeniu"><a href="/produse?tip=<%= opt.unnest %>"><%= opt.unnest %></a></li>
                    <% }  %>
                    </ul>
            </li>

        </ul>
        </nav>
        <div id="light-dark-theme" style=" margin-left: 78%; margin-top: -57px; margin-bottom: 15px;" >
            <i class="bi bi-brightness-high fs-3" style="margin-right: 15px;"></i>
            <div class="form-check form-switch" style="display:inline-block; margin-top: 10px;">
                <input style="margin-top: 9px; background-color:#c7514c;" class="form-check-input fs-5" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label fs-3" for="flexSwitchCheckDefault"><i class="bi bi-moon-stars"></i></label>
        </div>
    </div>
   
</div>
</header>